<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Assets/Client/style.css">
    <link rel="stylesheet" href="~/Assets/Client/index-1.css">
    <link rel="stylesheet" href="~/Assets/Client/index-3.css">
</head>

<body>
    <div class="App">
        <div class="header">
            <div class="header-nav">
                <div class="header-nav-item">
                    <ul>
                      
                        <li><a href="">Tải ứng dụng</a></li>
                        <li class="header-nav-item-nav"><a href="">Chăm sóc khách hàng</a></li>
                        <li class="header-nav-item-nav"><a href="">Kiểm tra đơn hàng</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-main">
                <div class="header-main-search">
                    <div class="header-logo">
                        <a aria-label="sendo logo" href="/"><svg viewBox="0 0 87 70" xmlns="http://www.w3.org/2000/svg"><path d="M69.052 12.375l-3.097 16.548a44.418 44.418 0 00-.74 6.633h-4.378l.27-2.94h-.068a6.042 6.042 0 01-5.251 3.008c-2.761 0-4.983-2.188-4.983-6.154 0-5.675 4.04-10.872 10.1-10.872.74 0 1.481.137 2.222.41l1.212-6.564 4.713-.069zm-6.666 10.394a2.664 2.664 0 00-1.885-.547c-2.828 0-4.848 3.35-4.848 6.496 0 1.983.875 3.077 2.222 3.077 1.414 0 3.03-1.436 3.636-4.581l.875-4.445zM4.481 30.017a10.123 10.123 0 005.252 1.436c1.818 0 3.501-.889 3.501-2.667 0-1.299-.942-2.12-2.962-3.145-2.424-1.3-4.646-3.009-4.646-5.95 0-4.512 3.905-7.316 8.753-7.316 2.693 0 4.31.616 5.252 1.163l-1.481 4.034a8.713 8.713 0 00-4.108-1.025c-2.222 0-3.366 1.162-3.366 2.393 0 1.299 1.346 2.12 3.232 3.145 2.693 1.436 4.444 3.283 4.444 5.95 0 4.991-4.108 7.59-9.023 7.59-3.097 0-5.32-.821-6.33-1.573l1.482-4.035zm27.606 4.308a13.756 13.756 0 01-5.992 1.3c-4.579 0-6.935-2.668-6.935-6.839 0-4.991 3.568-10.12 9.359-10.12 3.232 0 5.588 1.847 5.588 4.855 0 4.171-3.972 5.676-10.436 5.54 0 .615.202 1.162.471 1.64.606.82 1.684 1.3 3.098 1.3 1.548 0 3.097-.342 4.51-1.026l.338 3.35zm-4.174-12.24c-2.222 0-3.434 1.846-3.771 3.35 3.703.07 5.521-.478 5.521-1.982 0-.82-.606-1.368-1.75-1.368zm5.52 13.471l2.088-11.35c.404-2.052.74-4.24.875-5.676h4.242l-.404 3.077h.068a6.707 6.707 0 015.656-3.077c2.625 0 4.107 1.64 4.107 4.444 0 .958-.135 1.847-.27 2.804l-1.818 9.778h-4.713l1.75-9.368c.135-.615.135-1.23.135-1.846 0-1.163-.404-1.915-1.548-1.915-1.549 0-3.367 1.983-3.973 5.54l-1.414 7.59h-4.78zM84 25.3c0 5.95-3.973 10.325-9.561 10.325-4.107 0-6.8-2.735-6.8-6.77 0-5.675 3.904-10.325 9.56-10.325 4.31.069 6.8 3.078 6.8 6.77m-11.445 3.487c0 1.915.942 3.146 2.558 3.146 2.626 0 4.04-3.83 4.04-6.633 0-1.504-.606-3.077-2.558-3.077-2.694 0-4.107 4.034-4.04 6.565" fill="#fff"></path></svg></a>
                    </div>
                    <div class="header-option">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" class="d7e-0f24ac"><path d="M9 2a2 2 0 012 2v5a2 2 0 01-2 2H4a2 2 0 01-2-2V4a2 2 0 012-2h5zm0 2H4v5h5V4zm11-2a2 2 0 012 2v5a2 2 0 01-2 2h-5a2 2 0 01-2-2V4a2 2 0 012-2h5zm0 2h-5v5h5V4zM9 13a2 2 0 012 2v5a2 2 0 01-2 2H4a2 2 0 01-2-2v-5a2 2 0 012-2h5zm0 2H4v5h5v-5zm8.5-2a4.5 4.5 0 110 9 4.5 4.5 0 010-9zm0 2a2.5 2.5 0 000 5 2.5 2.5 0 000-5z" fill="#fff" fill-rule="nonzero"></path></svg>
                    </div>
                    <div class="header-search">
                        <form>
                            <input type="text" placeholder="Tìm kiếm trên Sendo ..." />
                        </form>
                        <div class="header-icon-search">
                            <svg width="26" height="26" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" class="d7e-0f24ac d7e-72271e"><path d="M10 2a8 8 0 016.32 12.905l5.387 5.388-1.414 1.414-5.388-5.386A8 8 0 1110 2zm0 2a6 6 0 100 12 6 6 0 000-12z" fill="#333" fill-rule="nonzero"></path></svg>
                        </div>
                    </div>
                    <div class="header-cart">
                        <a href="/Sendo/myListCart">
                            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" class="d7e-0f24ac"><path d="M20.946 2l.994 17.89a2 2 0 01-1.886 2.107l-.111.003H4.057a2 2 0 01-2-2c0-.055 0-.055.003-.11L3.054 2h17.892zm-1.892 2H4.946l-.889 16h15.886l-.889-16zM9 6v2.5c0 1.248 1.385 2.5 3 2.5s3-1.252 3-2.5V6h2v2.5c0 2.4-2.323 4.5-5 4.5s-5-2.1-5-4.5V6h2z" fill="#fff" fill-rule="nonzero"></path></svg>

                            @if (ViewBag.quantityCart > 0)
                            {

                                <div class="header-quantity-cart">
                                    @ViewBag.quantityCart
                                </div>
                            }
                        </a>
                    </div>

                    @if (ViewBag.UserName != null)
                    {


<div class="header-user-name">
                            <img width="30" src="https://media3.scdn.vn/images/apps/icon_user_default.png" alt="0961467725_autoemail@sendo.vn">
                            <span>Nguyễn Đức Thịnh</span>
                            <ul class="drop-down-options-account">
                                <li><a href="">Thông tin tài khoản</a></li>
                                <li><a href="">Ưu đãi của tôi</a></li>
                                <li><a href="">Sản phẩm yêu thích</a></li>
                                <li><a href="">Shop yêu thích</a></li>
                                <li><a href="/Sendo/ManagerOrderUser">Theo dõi đơn hàng</a></li>
                                <li class="drop-down-hr"><a href="">Đơn hàng dịch vụ tiện ích</a></li>
                                <li><a href="/Sendo/ClearSession">Thoát tài khoản</a></li>
                            </ul>
                        </div>
            }
            else
            {
                    <div class="header-login">
                        <a style="color:black" href="/Sendo/Login">Đăng nhập</a>
                    </div>
            }

                </div>
                <div class="header-category">
                    <ul>
                        @foreach (var item in ViewBag.myListCategory)
                        {                              
                            <li id="@item.ID" class="header-category-item"><a href="/Sendo/HomeOptions/@item.ID">@item.CategoryName</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>

            @RenderBody(); 

            <div class="footer">
                <div class="footer-advertisement-wrap">
                    <div class="footer-advertisement-main">
                        <div class="adver-item">
                            <img width="180" src="https://media3.scdn.vn/img4/2020/12_16/gJwXr6FFZKZCGKWaz4RB.png" alt=""></br>
                            <span class="footer-advertisement-text-bold">Siêu nhiều hàng tốt</span><br>
                            <span class="footer-advertisement-text-normal">Cần gì cũng có 26 ngàng hàng & 10 triệu sản phẩm</span>
                        </div>
                        <div class="adver-item">
                            <img width="180" src="https://media3.scdn.vn/img4/2020/12_16/EfZWQVfV6nQzu2vMmnwC.png" alt=""></br>
                            <span class="footer-advertisement-text-bold">Siêu yên tâm</span><br>
                            <span class="footer-advertisement-text-normal">Miễn phí đổi trả 48h</span>
                        </div>
                        <div class="adver-item">
                            <img width="180" src="https://media3.scdn.vn/img4/2020/12_16/j5C6IQz7gIXPgjFJxmRz.png" alt=""></br>
                            <span class="footer-advertisement-text-bold">Siêu tiện lợi</span><br>
                            <span class="footer-advertisement-text-normal">Mang thế giới mua sắm của Sendo trong tầm tay bạn</span>
                        </div>
                        <div class="adver-item">
                            <img width="180" src="https://media3.scdn.vn/img4/2020/12_16/7AJFQGQ5qvS7gGOz8P7a.png" alt=""></br>
                            <span class="footer-advertisement-text-bold">Siêu tiết kiệm</span><br>
                            <span class="footer-advertisement-text-normal">Giá cả hợp lí,vừa túi tiền.Luôn có nhiều chương trình khuyến mãi</span>
                        </div>
                    </div>
                </div>
                <div class="footer-about-us">
                    <div class="footer-about-us-item">
                        <ul>
                            <li>Về chúng tôi</li>
                            <li>Giới thiệu Sendo.vn</li>
                            <li>Giới thiệu SenMall</li>
                            <li>Quy chế hoạt động</li>
                        </ul>
                    </div>
                    <div class="footer-about-us-item">
                        <ul>
                            <li>Dành cho người mua</li>
                            <li>Giải quyết về khiếu nại</li>
                            <li>Hướng dẫn mua hàng</li>
                            <li>Chính sách đổi trả</li>
                            <li>Chăm sóc khách hàng</li>
                            <li>Nạp tiền điện thoại</li>
                        </ul>
                    </div>
                    <div class="footer-about-us-item">
                        <ul>
                            <li>Dành cho người bán</li>
                            <li>Quy định đối với người bán</li>
                            <li>Hệ thống tiêu chí kiểm duyệt</li>
                            <li>Mở shop trên Sendo</li>
                        </ul>
                    </div>
                    <div class="footer-about-us-item">
                        <ul>
                            <li>Tải ứng dụng Sendo</li>
                            <li>Mang thế giới mua sắm của Sendo trong tầm tay bạn</li>
                            <li>
                                <img width="120" src="https://media3.scdn.vn/img4/2020/12_16/5lUTWdk3DXr8nlC9MDII.png" alt="">
                                <img width="120" src="https://media3.scdn.vn/img4/2021/10_25/1UhXVS0yv3DnHKK5ODcS.png" alt="">
                            </li>
                            <li>
                                <img width="120" src="https://media3.scdn.vn/img4/2021/03_19/AMV086JNpEbm4OGAvVng.png" alt="">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-us-address-wrap">
                    <div class="footer-us-address-main">
                        <div class="footer-us-address-item">
                            <ul>
                                <li>Công ty Cổ phần Công nghệ Sen Đỏ, thành viên của Tập đoàn FPT</li>
                                <li>Số ĐKKD: 0312776486 - Ngày cấp: 13/05/2014, được sửa đổi lần thứ 6, ngày 23/05/2016.</li>
                                <li>Cơ quan cấp: Sở Kế hoạch và Đầu tư TPHCM.</li>
                                <li>Địa chỉ: Tầng 5, Tòa nhà A, Vườn Ươm Doanh Nghiệp, Lô D.01, Đường Tân Thuận, Khu chế xuất Tân Thuận, Phường Tân Thuận Đông, Quận 7, Thành phố Hồ Chí Minh, Việt Nam.</li>
                                <li>Email: lienhe@sendo.vn</li>
                                <li>
                                    <img width="120" src="https://media3.scdn.vn/img4/2020/12_16/XhpGDnvWqrlKeHLst3aS.png">
                                    <img width="120" src="https://media3.scdn.vn/img4/2020/12_16/h6lEMGIAt4Uapd0Mls34.png">
                                </li>
                            </ul>
                        </div>
                        <div class="footer-us-address-item">
                            <ul>
                                <li>Đăng kí nhận ưu đãi từ Sendo</li>
                                <li>
                                    <form id="footer-us-address-item-form">
                                        <input type="text" placeholder="Email của bạn là">
                                        <button>Đăng kí</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-top-search">
                    <span>TOP TÌM KIẾM</span>
                    <ul>
                        <li>Đồng Hồ</li>
                        <li>SHOPPING Mall</li>
                        <li>Thế Giới Di Động</li>
                        <li>Bánh Trung Thu Kinh Đô</li>
                        <li>Black Friday</li>
                        <li>Tivi</li>
                        <li>Mỹ phẩm hàn quốc</li>
                        <li>Kem chống nắng</li>
                        <li>Chợ Tốt</li>
                        <li>Shopee</li>
                        <li>Corona Virus</li>
                        <li>Đồ chơi nấu ăn</li>
                        <li>Laptop</li>
                        <li>Laptop</li>
                        <li>Iphone 6</li>
                        <li>Quạt</li>
                    </ul>
                </div>
            </div>
        </div>
</body>
</html>
<script src="~/Assets/Client/index.js"></script>
<script src="~/Assets/Client/index-2.js"></script>
<script src="~/Assets/Client/index-3.js"></script>
<script src="~/Assets/Client/index-4.js"></script>
<script src="~/Assets/Client/index-5.js"></script>

